---
- name: Ensure python3 present
  package:
    name: python3
    state: present

- name: Install node_exporter
  include_tasks: node_exporter.yml

- name: Install prometheus if this host is prometheus
  include_tasks: prometheus.yml
  when: "'prometheus' in inventory_hostname or 'prometheus' == ansible_hostname"

- name: Install grafana if this host is grafana
  include_tasks: grafana.yml
  when: "'grafana' in inventory_hostname or 'grafana' == ansible_hostname"
